<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tuts</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="box" id="date">
    <h1><%= date %></h1>
  </div>

  <div class="box">
    <% list.forEach((item) => { %>
      <div class="item">
        <input type="checkbox" name="" value="">
        <p><%= item %></p>
      </div>
     <% }); %>
  </div>


  <form class="" action="/home" method="post">
    <input type="text" name="newItem" value="">
    <button type="submit" name="button">Add</button>
  </form>
</body>

</html>
