<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tuts</title>

</head>

<body>
  <h1><%= date %></h1>
  <ul>
    <% list.forEach((item) => { %>
     <li><%= item %></li>
     <% }); %>

  </ul>

  <form class="" action="/home" method="post">
    <input type="text" name="newItem" value="">
    <button type="submit" name="button">Add</button>
  </form>
</body>

</html>
